<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Businness_DBEntities" connectionString="metadata=res://*/Model_DB.csdl|res://*/Model_DB.ssdl|res://*/Model_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Businness_DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ContextEFCodeFirst" connectionString="Data Source=.;Initial Catalog=testEFCodeFirst;Integerated Security=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>